{% extends 'base.html' %}

{% block content %}
<h1>VIM</h1>
<p>On Demand Hair Services for Him</p>
<p>
   <button type="button" class="btn btn-primary btn-lg">
      Large Primary button
   </button>
   <button type="button" class="btn btn-default btn-lg"
      >Large button
   </button>
</p>
<p>
   <button type="button" class="btn btn-primary">
      Default size Primary button
   </button>
   <button type="button" class="btn btn-default">
      Default size button
   </button>
</p>
<p>
<a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
</p>
<p>
<a class="btn btn-primary btn-lg" href="#" role="button">Log In</a>
</p>
{% endblock %}
