{% load staticfiles %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static "vim_app/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}" />
<!-- Optional theme -->
<link rel="stylesheet" href="{% static "vim_app/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" %}" />

{% block content %}
{% endblock %}

<script src="{% static "vim_app/js/jquery.min.js" %}"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="{% static "vim_app/bootstrap-3.2.0-dist/js/bootstrap.min.js" %}"></script>
